<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- Tip! 레이아웃 만드는 기본
    뭘 만들든 레이아웃은 항상 수평(행)으로 자른 후 박스부터 만들고 시작하면 됨
    그리고 이 박스들을 전부 <div>로 구현해 놓으면 됨(물론 시맨틱 태그도 최대한 활용)
    그리고 박스 안에 글 넣고 그림 넣고 하면 끝!

    이 때 <div>는 블록 요소이기 때문에 위아래로 배치
    좌우로 나란히 배치하고 싶으면 float(🤬), inline-block(😐), Flexbox(😃)
  -->
  <!-- 이모지 단축키: 윈도우키 + 마침표 -->

  <!-- navbar -->
  <nav>
    <ul class="navbar">

    </ul>
  </nav>

  <!-- blog list -->
  <div class="container">
    <!-- blog list item: 게시글 하나 -->
    <div class="blog-list-item">
      <div class="blog-content">
        <div class="content-header">
          <!-- 프로필 이미지 -->

          <!-- 작성자, 시간 -->
          
        </div>
        <div class="content-body">
          <!-- 글 제목, 글 내용 -->
          
        </div>
      </div>
      <div class="blog-img">
        <!-- 샘플 이미지 -->
      </div>
    </div>
  </div>
</body>
</html>