<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    * {
      box-sizing: border-box;
    }

    
  </style>
</head>
<body>
  <div class="login-background">
    <div class="login-container">
      <div class="id-box">
        
      </div>
      <div class="pw-box">

      </div>

      <button type="button" class="btn">로그인</button>
      <button type="button" class="btn">회원가입</button>
    </div>
  </div>
</body>
</html>